@{
  Layout = "_Layout";
}

@model Festival.Models.Artist

<h2>Artist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.SetList): @Html.DisplayFor(model => model.SetList)<h3>
<h3>@Html.DisplayNameFor(model => model.OverTwentyOne): @Html.DisplayFor(model => model.OverTwentyOne)<h3>
  
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Artist", "Edit", new { id = Model.ArtistId})</p>
<p>@Html.ActionLink("Delete Artist", "Delete", new { id = Model.ArtistId })</p>

