@{
  Layout = "_Layout";
}

@model Festival.Models.Artist

<h2>Edit</h2>

<h4>Edit this artist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ArtistId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.SetList)
    @Html.EditorFor(model => model.SetList)
    @Html.LabelFor(model => model.OverTwentyOne)
    @Html.EditorFor(model => model.OverTwentyOne)

    @Html.LabelFor(model => model.Stage)
    @Html.DropDownList("StageId")
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to artist list", "Index")</p>
